{% extends "estimate/base.html" %}
{% block title %} upload sales figure {% endblock %}
{% block content %}
<div>
    <h4>영업조직마스터 입력</h4>
    <p>업로드하려는 파일을 선택해 주세요</p>
    <form action="{{ url_for('stream.salesMaster') }}"
        method="POST"
        enctype="multipart/form-data"
        novalidate="novalidate">
        {{ form.csrf_token }}
        <!-- <div>
            <label>버전 : {{ form.version }}</label>
            <p></p>
        </div> -->
        <table>
            <tr>
            <td><div>
                <label>
                    <span>{{ form.file_excel(class="form-control-file") }}</span>
                </label>
                
            </div>
            {% for error in form.file_excel.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
            </td></tr>
        </table>
        <hr />
        <div>
            <button type="submit" class="btn btn-primary"> 조직마스터입력 </button>
        </div>
        <br><br>
    </form>
</div>

<div>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                {%for th in header %}
                <td>{{ th }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {%for tr in result %}
            <tr>
                

                <td> {{ tr[0] }} </td>
                {% for td in tr[1:] %}
                    <td> {{ '{0:,.0f}'.format(td) }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}